.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color: #2f3135;

}

.sidebar___top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2f3135;
    color: white;
    border-bottom: 3px solid #26282c;
}
.sidebar___channels{
    flex: 1;
}
.sidebar___addChannels{
    cursor: pointer;
}
.sidebar___addChannels:hover{
    color : green;
}
.sidebar___channelsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2f3135;
    color: gray;
}
.sidebar___header{
    display: flex;
    align-items: center;
}
.sidebar___voice, .sidebar___profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    background-color: #2f3135;    
    padding: 10px;
    border-top: 1px solid gray;
}
.sidebar___voiceInfo{
    flex: 1;
    padding: 10px;
}
.sidebar___voiceIcon{
    color: green;
}
.sidebar___voiceInfo>h3{
    color: green;
}
.sidebar___voiceInfo>p{
    font-size: smaller;
}
.sidebar___voiceInfo>.MuiSvgIcon-root{
    padding: 10px;
}
.sidebar___profileInfo{
    flex: 1;
    padding: 10px;
}
.sidebar___profileIcons>.MuiSvgIcon-root{
    padding: 10px;
}